<!-- Validation failure messages -->
<% if @concert.errors.any? %>
  <% @concert.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="jumbotron">
      <h3>Edit Concert: <%= @concert.artist.name %></h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form action="/update_concert/<%= @concert.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <div class='input-group date' id='datetimepicker1'>
          <input type='text' class="form-control" name="date" id="date" placeholder="Date" value="<%= @concert.date %>">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>

      <!-- Label and input for artist_id -->
      <div class="form-group">
        <label for="artist_id" class="control-label">
          Artist
        </label>

        <%= select_tag(:artist_id, options_from_collection_for_select(Artist.all, :id, :name, @concert.artist_id), :class => "form-control") %>
      </div>

      <!-- Label and input for venue_id -->
      <div class="form-group">
        <label for="venue_id" class="control-label">
          Venue
        </label>

        <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name, @concert.venue_id), :class => "form-control") %>
      </div>

      <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>

        <input type="text" id="notes" name="notes" placeholder="Notes" class="form-control" value="<%= @concert.notes %>">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">


      <button class="btn btn-warning">
        Update Concert
      </button>
      or
      <a href="/concerts/<%= @concert.id %>">Cancel</a>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker();
  });
</script>
