<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="jumbotron">
      <h3><%= @concert.artist.name %></h3>
      <h5><%= @concert.date.strftime('%B %e, %Y') %> at <a href="/venues/<%= @concert.venue_id %>">
        <%= @concert.venue.name %>
      </a>
    </h5>
  </div>
</div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= @concert.notes %>
    <hr>
    <div class="btn-group btn-group-justified">
      <a href="/concerts" class="btn btn-primary">
        <i class="fa fa-chevron-left"></i>
      </a>
      <% if current_user == @concert.user %>
      <a href="/concerts/<%= @concert.id %>/edit" class="btn btn-warning">
        <i class="fa fa-edit"></i>
      </a>
      <a href="/delete_concert/<%= @concert.id %>" class="btn btn-danger" rel="nofollow">
        <i class="fa fa-trash-o"></i>
      </a>
      <% end %>
    </div>
  </div>
</div>
